<ul class="navbar-nav ml-auto">
        
    <li class="topic">
        <b>
            The Divine Comedy
        </b>
                    
    </li> 
       
</ul>

<nav class="navbar fixed-bottom navbar-light bg-light">
    <ul class="navbar-nav" >
        <li>
            <b>
                    No of current viewers: {{ans}}
            </b>
        </li>
        
    </ul>

    <ul class="navbar-nav ml-auto">
        <li>
            <b>
                No of total viewers:  {{tans}}
            </b>
        </li>
    </ul>     
    
       
</nav>
<h5>
    content
</h5>
