<div>
  <div class="container">
    <div class="teal">
        <h1>Stories</h1>
      </div>
    <ul class="list-group">
      <li class="list-group-item list-group-item-primary">
        <div class="nav-item">
          <a class="nav-link"
            routerLinkActive="active"
            [routerLink]="['/story1']" ><b><p style="color:black">Twilight in Italy</p></b></a>
        </div>
      </li>
      <li class="list-group-item list-group-item-primary">
        <div class="nav-item">
          <a class="nav-link"
            routerLinkActive="active"
            [routerLink]="['/story2']"><b><p style="color:black">To the Lighthouse</p></b></a>
        </div>
      </li>
      <li class="list-group-item list-group-item-primary">
        <div class="nav-item">
            <a class="nav-link"
              routerLinkActive="active"
              [routerLink]="['/story3']"><b><p style="color:black">The Divine Comedy</p></b></a>
        </div>
      </li>
      <li class="list-group-item list-group-item-primary">
        <div class="nav-item">
          <a class="nav-link"
            routerLinkActive="active"
            [routerLink]="['/story4']"><b><p style="color:black">War and Peace</p></b></a>
        </div>
      </li>
      <li class="list-group-item list-group-item-primary">
        <div class="nav-item">
            <a class="nav-link"
              routerLinkActive="active"
              [routerLink]="['/story5']"><b><p style="color:black">A tale of two cities</p></b></a>
        </div>
      </li>
      <li class="list-group-item list-group-item-primary">
        <div class="nav-item">
            <a class="nav-link"
              routerLinkActive="active"
              [routerLink]="['/story6']"><b><p style="color:black">Inception</p></b></a>
        </div>
      </li>
      
    
    </ul>
  </div>

</div>
