<ul class="navbar-nav ml-auto">
        
    <li class="topic">
        <b>
            War and Peace
        </b>
                    
    </li> 
       
</ul>

<nav class="navbar fixed-bottom navbar-light bg-light">
    <ul class="navbar-nav" >
        <li>
            <b>
                    No of current viewers: {{ans}}
            </b>
        </li>
        
    </ul>

    <ul class="navbar-nav ml-auto">
        <li>
            <b>
                No of total viewers:  {{tans}}
            </b>
        </li>
    </ul>     
    
       
</nav>
<h5>
    
I was in control. At peace. A cargo train came clattering along the line across the road. I was aware of its existence but had been tuning it out. It came fully to my attention when its squealing became deafening. I contemplated putting my fingers in my ears. I smiled at the girl beside me. A lame attempt at communication. I glanced over and half-expected her to have her fingers in her ears. She didn’t. She was not trying to get my attention. No one was. They were waiting for trains.
The cargo train was now at the peak of its noisiness. But underneath the sound was another one. It was the bellow and song of a crackly radio signal, or the boom from the sound of a loudspeaker drifting in the wind. It came in and out of focus. It wasn’t momentous, this secret broadcast of the cargo train; but I felt happy for the experience; it seemed like something that you might write about later on. I felt in control, someone who casually noticed strange phenomena in the midst of the mundane and didn’t even shrug.

</h5>
